<section
  *transloco="let t"
  class="relative flex bg-black pt-28 pb-44 text-white text-neutral-content after:absolute after:right-0 after:bottom-0 after:z-0 after:h-[90%] after:w-2/5 after:bg-[url('./assets/images/bg-shape.png')]"
>
  <div class="container z-10 mx-auto flex flex-col justify-center">
    <div class="flex flex-wrap items-center justify-between">
      <div>
        <span class="mb-4 font-bold">{{t('simulator.title')}}</span>
        <h2 class="mb-4 text-3xl font-extrabold md:text-4xl">
          {{t('simulator.subtitle')}}
        </h2>
      </div>
      <ui-button (click)="trackEvent('CTA', 'Click', 'simulator.cta')" color="btn-error">{{t('simulator.cta')}}</ui-button>
    </div>
    <div class="mt-16 h-3/5 w-full">
      <ui-card
        [classWhenInViewport]="['animate-slide-in-fade-top']"
        class="w-full animation-delay-0.2"
        uiIsInViewport
      >
        <ui-card-body class="items-center justify-center">
          {{t('simulator.description')}}
        </ui-card-body>
      </ui-card>
    </div>
  </div>
</section>
