<section
  class="text-base-centent flex bg-base-100 bg-[url(./assets/images/bg-city.jpg)] bg-[0_100%] bg-no-repeat pt-28 pb-28"
>
  <div class="container mx-auto flex flex-col justify-center text-center">
    <div class="mx-auto mb-16 max-w-screen-sm focus:outline-none">
      <h2
        class="visible mb-4 font-extrabold font-extrabold tracking-tight text-primary"
      >
        Team members
      </h2>
      <p class="text-3xl font-extrabold md:text-4xl">Our Awesome Team</p>
    </div>
    <div class="grid grid-cols-1 gap-8 gap-y-16 md:grid-cols-2 lg:grid-cols-3">
      <div
        *ngFor="let item of teams; let index = index"
        [classesToApply]="['animate-slide-in-fade-top']"
        class="text-gray-500 text-center animation-delay-0.{{ 2 + index }}"
        uiIsInViewport
      >
        <ui-card
          class="!bg-base-200 hover:!bg-primary hover:!text-neutral-content"
          padding="card-compact"
        >
          <ui-card-image
            routerLink="{{item.route}}"
            alt="Bonnie Avatar"
            src="{{ item.image }}"
            width="w-full"
          ></ui-card-image>
          <ui-card-body class="items-center text-center">
            <h3 uiCardTitle>
              <a routerLink="{{item.route}}">{{ item.firstName }} {{ item.lastName }}</a>
            </h3>
            <p>{{ item.role }}</p>
            <ui-card-actions>
              <ul
                *ngIf="item.socials"
                class="mt-4 flex justify-center space-x-4"
              >
                <li
                  *ngFor="let social of item.socials"
                  class="transition-transform hover:scale-125"
                >
                  <a href="{{ social.url }}" target="_blank">
                    <fa-icon [icon]="social.icon" size="2x"></fa-icon>
                  </a>
                </li>
              </ul>
            </ui-card-actions>
          </ui-card-body>
        </ui-card>
      </div>
    </div>
  </div>
</section>
