<div class="carousel-center carousel rounded-box space-x-4">
 <ng-container *ngIf="!withApi">
   <a
     (click)="trackEvent('CTA', 'Click', 'portfolio.item-cta: ' + item.title)"
     routerLink="{{ item.route }}"
     class="carousel-item w-[80vw] sm:w-[47%] lg:w-[32%]"
     *ngFor="let item of items; let index = index"
   >
     <ui-card
       *transloco="let t"
       [whenVisible]="['md:animate-slide-in-fade-top']"
       class="w-full group before:transition-colors before:bg-primary before:duration-500 before:bg-gradient-to-t before:from-primary before:!bg-opacity-0 animation-delay-0.{{
        2 + index
      }}"
       image="image-full"
       uiIsInViewport
     >
       <ui-card-image
         class="transition-transform ease-in-out group-hover:scale-105"
         src="{{ item.image }}"
       ></ui-card-image>
       <ui-card-body class="justify-end">
         <h5 class="text-lg font-extrabold" uiCardTitle>
           {{ item.services | joinObject : 'title' }}
         </h5>
         <hr class="border-secondary-50 w-full" />
         <div
           class="flex items-center space-x-4"
           (click)="
            trackEvent('CTA', 'Click', 'portfolio.item-cta: ' + item.title)
          "
           routerLink="{{ item.route }}"
         >
           <span class="font-semibold">{{ t('portfolio.item-cta') }}</span>
           <fa-icon [icon]="faArrowRight"></fa-icon>
         </div>
       </ui-card-body>
     </ui-card>
   </a>
 </ng-container>
  <ng-container *ngIf="withApi">
    <a
      (click)="trackEvent('CTA', 'Click', 'portfolio.item-cta: ' + item.title)"
      [routerLink]="['/', 'portfolio',  item.slug]"
      class="carousel-item w-[80vw] sm:w-[47%] lg:w-[32%]"
      *ngFor="let item of newItems; let index = index"
    >
      <ui-card
        *transloco="let t"
        [whenVisible]="['md:animate-slide-in-fade-top']"
        class="w-full group before:transition-colors before:bg-primary before:duration-500 before:bg-gradient-to-t before:from-primary before:!bg-opacity-0 animation-delay-0.{{
        2 + index
      }}"
        image="image-full"
        uiIsInViewport
      >
        <ui-card-image
          class="transition-transform ease-in-out group-hover:scale-105"
          src="{{ item.image.url }}"
        ></ui-card-image>
        <ui-card-body class="justify-end">
          <h5 class="text-lg font-extrabold" uiCardTitle>
            {{ item.services | joinObject : 'title' }}
          </h5>
          <hr class="border-secondary-50 w-full" />
          <div
            class="flex items-center space-x-4"
            (click)="
            trackEvent('CTA', 'Click', 'portfolio.item-cta: ' + item.title)
          "
            [routerLink]="['/', 'portfolio',  item.slug]"
          >
            <span class="font-semibold">{{ t('portfolio.item-cta') }}</span>
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </div>
        </ui-card-body>
      </ui-card>
    </a>
  </ng-container>

</div>
