<ui-carousel #carouselRef class="space-x-8">
  <ui-carousel-item
    *ngFor="let item of items; let index = index"
    class="my-auto w-full md:w-2/5 xl:w-[31.5%]"
    height="h-full"
  >
    <a
      (click)="
          trackEvent('CTA', 'Click', 'portfolio.item-cta: ' + item.title)
        "
      [routerLink]="['/', 'portfolio',  item.slug]"
    >
      <ui-card
        *transloco="let t"
        [classWhenInViewport]="index < 3 ? ['md:animate-slide-in-fade-top'] : []"
        class="w-full group before:transition-colors before:bg-primary before:duration-500 before:bg-gradient-to-t before:from-primary before:!bg-opacity-0 !animation-delay-0.{{
            2 + index
          }}"
        image="image-full"
        uiIsInViewport
      >
        <ui-card-image
          class="aspect-[12/8] transition-transform ease-in-out group-hover:scale-105"
          mode="cover"
          src="{{ item.image.url }}"
        ></ui-card-image>
        <ui-card-body class="justify-end">
          <h5 class="text-lg font-extrabold" uiCardTitle>
            {{ item.services | joinObject : 'title' }}
          </h5>
          <hr class="border-secondary-50 w-full" />
          <div
            (click)="
                trackEvent('CTA', 'Click', 'portfolio.item-cta: ' + item.title)
              "
            class="flex items-center space-x-4"
            [routerLink]="['/', 'portfolio',  item.slug]"
          >
            <span class="font-semibold">{{ t('portfolio.item-cta') }}</span>
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </div>
        </ui-card-body>
      </ui-card>
    </a>
  </ui-carousel-item>
</ui-carousel>
<ui-carousel-indicators
  [carousel]="carouselRef"
  class="py-8"
></ui-carousel-indicators>
