<div class="h-full pt-12 relative overflow-hidden bg-secondary-500 text-white-500 flex items-center">
  <div class="container h-full mx-auto flex relative z-20">
    <div class="w-2/3 pb-32 pt-32">
      <span class="uppercase text-[18px] font-bold">Empower your business</span>
      <h1 class="text-7xl 2 mt-6 font-bold leading-[1.2]">Excellent IT services for your success</h1>
      <button class="bg-primary-500 mt-8 px-6 py-4 rounded font-bold ">Meet with us</button>

    </div>
    <div class="hero-image w-auto flex">
      <img src="./assets/images/hero.jpg" alt="hero image" class="rounded-t-full max-w-[unset]"/>
      <div class="circle-one"></div>
      <div class="circle-two"></div>
    </div>
  </div>
  <div class="left-circle z-10"></div>
</div>
