<section class="flex bg-base-200 pt-28 pb-20">
  <div *transloco="let t" class="mx-auto flex flex-col justify-center px-4 text-center md:px-20 max-w-full">
    <div class="mx-auto mb-16 max-w-screen-sm focus:outline-none">
      <h2 class="visible mb-4 font-extrabold tracking-tight text-primary">
        {{t('portfolio.title')}}
      </h2>
      <p class="text-3xl font-extrabold md:text-4xl">
        {{t('portfolio.subtitle')}}
      </p>
    </div>
    <div class="">
      <otwld-portfolio-carousel *ngIf="portfolio$ | async as portfolio" [items]="portfolio"></otwld-portfolio-carousel>
    </div>
  </div>
</section>
