<ui-navbar
  *transloco="let t"
  class="px-4 md:px-8"
  backgroundColor="bg-neutral"
  textColor="text-neutral-content"
>
  <ui-navbar-item sizeOrSlot="flex-1">
    <a routerLink="/">
      <ui-logo
        class="mr-8 py-0.5 md:py-2 xl:mr-20"
        hostDisplay="flex"
      ></ui-logo>
    </a>
    <div class="hidden lg:flex">
      <ng-container
        [ngTemplateOutlet]="navItemsRef"
        [ngTemplateOutletContext]="{
          horizontal: 'true',
          backgroundInvisible: 'true'
        }"
      ></ng-container>
    </div>
  </ui-navbar-item>
  <ui-navbar-item sizeOrSlot="flex-none" class="space-x-4 lg:space-x-8">
    <otwld-lang-switcher
      class="hidden lg:flex"
      hostDisplay="flex"
    ></otwld-lang-switcher>
    <otwld-theme-switcher class="hidden lg:block"></otwld-theme-switcher>
    <ui-button
      class="block lg:hidden"
      shape="btn-circle"
      btnStyle="btn-ghost"
      (click)="openDrawer()"
    >
      <svg
        class="fill-current"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 512 512"
      >
        <path
          d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
        />
      </svg>
    </ui-button>
  </ui-navbar-item>
</ui-navbar>

<ng-template
  #navItemsRef
  let-horizontal="horizontal"
  let-backgroundInvisible="backgroundInvisible"
  let-width="width"
>
  <ul
    *transloco="let t"
    class="{{ width }} {{ horizontal === 'true' ? 'space-x-8' : '' }}"
    [textColor]="
      backgroundInvisible === 'true' ? undefined : 'text-base-content'
    "
    [backgroundColor]="
      backgroundInvisible === 'true' ? undefined : 'bg-base-100'
    "
    [display]="horizontal === 'true' ? 'menu-horizontal' : 'menu-vertical'"
    uiMenu
  >
    <li uiMenuItem>
      <a [routerLink]="'/'">
        {{ t('navbar.home') }}
      </a>
    </li>
    <li uiMenuItem>
      <a
        [routerLink]="'/services'"
        class="animation-delay-1000 animate-slide-in-fade-right"
      >
        {{ t('navbar.services') }}
      </a>
    </li>
    <li uiMenuItem>
      <a
        [routerLink]="'/portfolio'"
        class="animate-slide-in-fade-right animation-delay-0.4"
      >
        {{ t('navbar.portfolio') }}
      </a>
    </li>
    <li uiMenuItem>
      <a
        [routerLink]="'/members'"
        class="animate-slide-in-fade-right animation-delay-0.8"
      >
        {{ t('navbar.members') }}
      </a>
    </li>
  </ul>
</ng-template>

<ng-template let-width="width" #drawerContentRef>
  <div class="bg-base-100 p-8 {{ width }}">
    <a routerLink="/">
      <ui-logo class="py-2" hostDisplay="flex"></ui-logo>
    </a>
    <div class="flex justify-between py-4 lg:hidden">
      <otwld-lang-switcher hostDisplay="flex"></otwld-lang-switcher>
      <otwld-theme-switcher></otwld-theme-switcher>
    </div>
    <ng-container
      [ngTemplateOutlet]="navItemsRef"
      [ngTemplateOutletContext]="{ horizontal: 'false' }"
    ></ng-container>
  </div>
</ng-template>
