<div
  class="flex w-full border-b border-b-neutral bg-neutral pr-8 pl-4 text-neutral-content"
>
  <ui-logo class="p-4" hostDisplay="flex"></ui-logo>
  <div class="ml-8 hidden items-center space-x-14 font-bold xl:flex">
    <a href="#">Home</a>
    <a class="animation-delay-1000 animate-slide-in-fade-right" href="#"
      >About Us</a
    >
    <a class="animate-slide-in-fade-right animation-delay-0.4" href="#"
      >Service</a
    >
    <a class="animate-slide-in-fade-right animation-delay-0.6" href="#"
      >Pages</a
    >
    <a class="animate-slide-in-fade-right animation-delay-0.8" href="#"
      >Elements</a
    >
    <a class="animate-slide-in-fade-right animation-delay-1" href="#">Blog</a>
    <a class="animate-slide-in-fade-right animation-delay-1.2" href="#"
      >Contact</a
    >
  </div>
  <div class="ml-auto hidden items-center xl:flex">
    <ui-button (click)="promptThemeSwitcher()" color="btn-primary"
      >Switch Theme
    </ui-button>
  </div>
  <div class="ml-auto flex items-center xl:hidden">
    <ui-button btnStyle="btn-ghost">
      <fa-icon [icon]="faBars" size="2x"></fa-icon>
    </ui-button>
  </div>
</div>
