<ui-navbar
  class="px-4 md:px-8"
  backgroundColor="bg-neutral"
  textColor="text-neutral-content"
>
  <ui-navbar-item sizeOrSlot="flex-1">
    <ui-logo class="py-0.5 md:py-2" hostDisplay="flex"></ui-logo>
    <div class="ml-32 hidden items-center space-x-14 font-bold xl:flex">
      <a [routerLink]="'/'">Home</a>
      <a
        [routerLink]="'/services'"
        class="animation-delay-1000 animate-slide-in-fade-right"
        >Our Services</a
      >
      <a
        [routerLink]="'/portfolio'"
        class="animate-slide-in-fade-right animation-delay-0.4"
        >Our Realisations</a
      >
      <a
        [routerLink]="'/members'"
        class="animate-slide-in-fade-right animation-delay-0.8"
        >Our Members</a
      >
    </div>
  </ui-navbar-item>
  <ui-navbar-item sizeOrSlot="flex-none">
    <ui-button
      class="hidden xl:block"
      (click)="promptThemeSwitcher()"
      color="btn-primary"
      >Switch Theme
    </ui-button>
    <ui-button class="block xl:hidden" btnStyle="btn-ghost">
      <fa-icon [icon]="faBars" size="2x"></fa-icon>
    </ui-button>
  </ui-navbar-item>
</ui-navbar>
