<div class="h-full w-full flex bg-secondary-500 text-white-500 border-b-secondary-200 border-b">
  <div class="px-24 flex font-bold items-center justify-center text-2xl">
    <img src="./assets/images/logo.png" class="w-16 h-16 mr-2">
    Outworld
  </div>
  <div class="flex items-center space-x-14">
    <a href="#" class="">Home</a>
    <a href="#" class="">About Us</a>
    <a href="#" class="">Service</a>
    <a href="#" class="">Pages</a>
    <a href="#" class="">Elements</a>
    <a href="#" class="">Blog</a>
    <a href="#" class="">Contact</a>
  </div>
  <div class="ml-auto items-center flex px-8">
    <button class="bg-primary-500 mx-8 px-6 py-4 rounded font-bold ">Meet with us</button>
  </div>
</div>
