<div class="relative z-20 bg-primary pb-20 text-primary-content">
  <div class="container mx-auto flex flex-col" *transloco="let t">
    <div class="-mt-20 flex w-full flex-wrap items-start justify-center gap-4">
      <a
        *ngFor="let item of services$ | async; let index = index"
        [routerLink]="[item.route]"
        class="w-[47%] transition-transform hover:scale-105 sm:w-[30%] lg:w-[15%] lg:flex-grow lg:basis-0"
      >
        <ui-card-icon
          title="{{ t(item.title) }}"
          [icon]="item.icon"
          class="animate-slide-in-fade-top animation-delay-{{
            7 + index <= 1 ? '0.' + (7 + index) : (7 + index) / 10
          }}"
          iconColor="text-primary"
        >
        </ui-card-icon>
      </a>
    </div>
    <div class="mt-16 flex flex-wrap items-center justify-between">
      <h2
        class="mb-8 text-3xl font-extrabold leading-[1.33] md:mb-0 md:text-3xl lg:text-4xl"
      >
        {{t('ctas.team-augmentation.title')}}
      </h2>
      <div>
        <a routerLink="services">
          <ui-button
            [additionalClasses]="['border-white', 'text-white']"
            btnStyle="btn-outline"
            color="btn-neutral"
            size="btn-lg"
            >{{t('ctas.team-augmentation.cta')}}
          </ui-button>
        </a>
      </div>
    </div>
  </div>
</div>
