<div class="relative z-20 bg-primary pb-20 text-primary-content">
  <div class="container mx-auto flex flex-col" *transloco="let t">
    <div
      class="-mt-20 flex w-full flex-wrap items-start justify-center gap-x-8 gap-y-4"
    >
      <a
        *ngFor="let item of services$ | async; let index = index"
        [routerLink]="['services', item.slug]"
        (click)="trackEvent('CTA', 'Click', item.title)"
        class="aspect-square transition-transform hover:scale-105 w-[120px] md:w-[140px] xl:w-[180px]"
      >
        <ui-card-icon
          title="{{ item.title }}"
          [icon]="stringToIcon(item.icon)"
          class="animate-slide-in-fade-top animation-delay-{{
            7 + index <= 1 ? '0.' + (7 + index) : (7 + index) / 10
          }}"
          iconColor="text-primary"
        >
        </ui-card-icon>
      </a>
    </div>
    <div class="mt-16 flex flex-wrap items-center justify-between">
      <h2
        uiLoopLiterals
        i18ArrayKey="services.ctas"
        class="mb-8 min-h-[8rem] md:min-h-0 text-3xl font-extrabold leading-[1.33] lg:mb-0 lg:text-4xl"
      ></h2>
      <div>
        <a
          class="animate-slide-in-fade-top"
          routerLink="services"
          (click)="trackEvent('CTA', 'Click', 'team-augmentation')"
        >
          <ui-button
            [additionalClasses]="['border-white', 'text-white']"
            btnStyle="btn-outline"
            color="btn-neutral"
            size="btn-lg"
            >{{ t('services.view-more') }}
          </ui-button>
        </a>
      </div>
    </div>
  </div>
</div>
