<section class="bg-white flex justify-between h-full">
  <div class="gap-16 items-center py-8 px-4 mx-auto container lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
    <div>
      <h2 class="mb-4 font-bold tracking-tight font-extrabold text-primary-500 dark:text-white">It Support For Business</h2>
      <p class="mb-8 text-4xl leading-[1.33] font-bold dark:text-white">Preparing for your success trusted source in IT services.</p>
      <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <ul class="space-y-2">
        <li>
          <fa-icon [icon]="faCheck" class="text-primary-500 mr-4"></fa-icon>
          <span>Which means as the company ramps</span>
        </li>
        <li>
          <fa-icon [icon]="faCheck" class="text-primary-500 mr-4"></fa-icon>
          <span>Available In 14.1-In. And 16-In. Versions.</span>
        </li>
        <li>
          <fa-icon [icon]="faCheck" class="text-primary-500 mr-4"></fa-icon>
          <span>The Potential Loss Of The Touch Bar.</span>
        </li>
        <li>
          <fa-icon [icon]="faCheck" class="text-primary-500 mr-4"></fa-icon>
          <span>High-Speed USB 4.0.</span>
        </li>
      </ul>
      <button class="bg-[#e5eef6] text-primary-500 px-8 py-3 mt-8 rounded font-bold ">View Details</button>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8 relative">
      <img class="absolute z-0 -top-8 -right-12" src="./assets/images/bg-dots-grid.png">
      <img class="w-full rounded-lg z-10" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
      <img class="mt-4 w-full lg:mt-10 rounded-lg z-10" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
    </div>
  </div>
</section>
