<section
  class="flex justify-between bg-base-100 pb-20 pt-12 text-base-content sm:pb-36 sm:pt-20"
>
  <div
    class="container mx-auto items-center gap-16 py-8 lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div
      [classesToApply]="['animate-slide-in-fade-left']"
      class="pb-8 animation-delay-0.4"
      uiIsInViewport
    >
      <h2
        class="mb-4 font-extrabold font-extrabold tracking-tight text-primary"
      >
        It Support For Business
      </h2>
      <p class="mb-8 text-3xl font-extrabold leading-[1.33] md:text-4xl">
        Preparing for your success trusted source in IT services.
      </p>
      <p class="mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore.
      </p>
      <ul class="space-y-2">
        <li>
          <fa-icon [icon]="faCheck" class="mr-4 text-primary"></fa-icon>
          <span>Which means as the company ramps</span>
        </li>
        <li>
          <fa-icon [icon]="faCheck" class="mr-4 text-primary"></fa-icon>
          <span>Available In 14.1-In. And 16-In. Versions.</span>
        </li>
        <li>
          <fa-icon [icon]="faCheck" class="mr-4 text-primary"></fa-icon>
          <span>The Potential Loss Of The Touch Bar.</span>
        </li>
        <li>
          <fa-icon [icon]="faCheck" class="mr-4 text-primary"></fa-icon>
          <span>High-Speed USB 4.0.</span>
        </li>
      </ul>
      <ui-button class="mt-8" color="btn-info" hostDisplay="block"
        >View Details</ui-button
      >
    </div>
    <div
      [classesToApply]="['animate-slide-in-fade-right']"
      class="relative mt-8 grid grid-cols-2 gap-4 animation-delay-0.4"
      uiIsInViewport
    >
      <img
        class="absolute -top-8 -right-12 z-0"
        src="./assets/images/bg-dots-grid.png"
      />
      <img
        alt="office content 1"
        class="z-10 w-full rounded-lg"
        src="assets/images//office-long-2.png"
      />
      <img
        alt="office content 2"
        class="z-10 mt-4 w-full rounded-lg lg:mt-10"
        src="assets/images/office-long-1.png"
      />
    </div>
  </div>
</section>
