<section
  class="flex justify-between bg-base-100 pb-20 pt-12 text-base-content sm:pb-36 sm:pt-20"
>
  <div
    class="container mx-auto items-center gap-16 py-8 lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div
      *transloco="let t"
      [whenVisible]="['animate-slide-in-fade-left']"
      class="pb-8 animation-delay-0.4"
      uiIsInViewport
    >
      <h2
        class="mb-4 font-extrabold font-extrabold tracking-tight text-primary"
      >
        {{t('about.title')}}
      </h2>
      <p class="mb-8 text-3xl font-extrabold leading-[1.33] md:text-4xl">
        {{t('about.subtitle')}}
      </p>
      <p class="mb-4">
        {{t('about.description')}}
      </p>
      <ul class="space-y-2">
        <li>
          <fa-icon [icon]="faCheck" class="mr-4 text-primary"></fa-icon>
          <span>{{t('about.checkOne')}}</span>
        </li>
        <li>
          <fa-icon [icon]="faCheck" class="mr-4 text-primary"></fa-icon>
          <span>{{t('about.checkTwo')}}</span>
        </li>
        <li>
          <fa-icon [icon]="faCheck" class="mr-4 text-primary"></fa-icon>
          <span>{{t('about.checkThree')}}</span>
        </li>
        <li>
          <fa-icon [icon]="faCheck" class="mr-4 text-primary"></fa-icon>
          <span>{{t('about.checkFour')}}</span>
        </li>
      </ul>
      <a routerLink="/services/team-extension">
        <ui-button class="mt-8" color="btn-info" hostDisplay="block"
        >{{t('about.cta')}}</ui-button
        >
      </a>
    </div>
    <div
      [whenVisible]="['animate-slide-in-fade-right']"
      class="relative mt-8 grid grid-cols-2 gap-4 animation-delay-0.4"
      uiIsInViewport
    >
      <img
        class="absolute -top-8 -right-12 z-0"
        src="./assets/images/bg-dots-grid.png"
      />
      <img
        alt="office content 1"
        class="z-10 w-full rounded-lg"
        src="assets/images/team/ntrehout_bbl.jpg"
      />
      <img
        alt="office content 2"
        class="z-10 mt-4 w-full rounded-lg lg:mt-10"
        src="assets/images/team/demo_03.jpg"
      />
    </div>
  </div>
</section>
