.left-circle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25vw;
  height: 25vw;
  background: transparent;
  line-height: 400px;
  border-radius: 50%;
  text-align: center;
  -webkit-transform: translate(-40%, 40%);
  -ms-transform: translate(-40%, 40%);
  transform: translate(-40%, 40%);
  -webkit-animation: hero_circle 30s infinite;
  animation: hero_circle 30s infinite;

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    right: -32px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
  }
}
