<div
  class="relative flex h-full items-center overflow-hidden bg-neutral text-neutral-content pt-12"
>
  <div class="container relative z-20 mx-auto flex h-full">
    <div class="w-2/3 pb-32 pt-32">
      <span
        class="animate-slide-in-blurred-top text-[18px] font-extrabold uppercase animation-delay-0.2"
        >Empower your business</span
      >
      <h1
        class="2 mt-6 animate-slide-in-blurred-top text-7xl font-extrabold leading-[1.2] animation-delay-0.4"
      >
        Excellent IT services for your success
      </h1>
      <ui-button-fill
        class="mt-8 animate-slide-in-blurred-top animation-delay-0.6"
        >Meet with us</ui-button-fill
      >
    </div>
    <div class="hero-image before:border-4 before:border-primary after:bg-accent flex w-auto">
      <img
        src="./assets/images/hero.jpg"
        alt="hero image"
        class="max-w-[unset] rounded-t-full"
      />
      <div class="circle-one bg-primary"></div>
      <div class="circle-two bg-primary"></div>
    </div>
  </div>
  <div class="left-circle z-10 border-2 border-primary"></div>
</div>
