<div
  class="relative flex items-center overflow-hidden bg-neutral pt-16 text-neutral-content"
>
  <div class="container relative z-20 mx-auto flex flex-wrap md:flex-nowrap">
    <div
      class="pb-36 sm:pt-8 sm:pb-44 md:w-2/3 lg:pt-16 lg:pb-44 xl:pb-64 xl:pt-24"
    >
      <h1
        [class.animate-slide-in-fade-top]="isBrowser"
        [class.opacity-0]="isServer"
        class="text-3xl font-extrabold !leading-[1.2] animation-delay-0.2 lg:text-7xl"
      >
      <span
        [class.animate-slide-in-fade-top]="isBrowser"
        [class.opacity-0]="isServer"
        class="block mb-8 text-[18px] font-extrabold uppercase"
        >{{subtitle}}
      </span>
        {{title}}
      </h1>
      <ui-button
        [class.animate-slide-in-fade-top]="isBrowser"
        [class.opacity-0]="isServer"
        class="mt-8 animation-delay-0.4"
        color="btn-info"
        hostDisplay="inline-block"
        (click)="ctaClicked.emit()"
      >
        {{ctaText}}
      </ui-button>
    </div>
    <div class="relative md:w-2/5">
      <otwld-hero-image [decorated]="decorated" image="{{image}}"></otwld-hero-image>
    </div>
  </div>
  <div class="left-circle z-10 border-2 border-[#39446b]"></div>
</div>
