<ui-hero
  [overlay]="true"
  background="bg-[url(https://tfhtml.themepul.com/restly/assets/images/banner.jpg)]"
  class="h-[50vh] text-neutral-content"
  overlayOpacity="bg-opacity-40"
  *transloco="let t"
>
  <ui-hero-content class="mx-auto w-full">
    <div class="container">
      <h1 class="mb-3 capitalize text-5xl lg:text-7xl font-extrabold">{{t(title$ | async)}}</h1>
      <ui-breadcrumbs
        *ngIf="items$ | async as items"
        [items]="items"
        class="font-bold"
      ></ui-breadcrumbs>
    </div>
  </ui-hero-content>
</ui-hero>
