<ui-hero
  [overlay]="true"
  background="bg-[url(https://tfhtml.themepul.com/restly/assets/images/banner.jpg)]"
  class="h-1/2 text-neutral-content"
  overlayOpacity="bg-opacity-40"
>
  <ui-hero-content class="mx-auto w-full">
    <div class="container capitalize">
      <h1 class="mb-3 text-7xl font-extrabold">{{title$ | async}}</h1>
      <ui-breadcrumbs
        *ngIf="items$ | async as items"
        [items]="items"
        class="font-bold"
      ></ui-breadcrumbs>
    </div>
  </ui-hero-content>
</ui-hero>
